body{
  margin: 0;
}

.main-contents{
  width: 50%;
  margin-left: 25%;
}

.container {
  margin: 0px auto;
}

.chat-area {
  height: calc(100vh - 150px);
  background: #8DB4E5;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 30px;
  box-sizing: border-box;
}

.message-area {
  height: 10vh;
  display: flex;
 }

.message-area form{
display: flex;
padding-top: 5px;
height: 60px;
width: 100%; 
}
 
 /* テキストエリアは80%で表示 */
 .message-area-text {
  width: 100%;
 }

 .message-area-text textarea {
  width: 100%;
  height: 100%;
  resize: none; /* これでユーザーのリサイズをできなくする */
  border: 1px solid #ddd; /* 枠線をつけて領域を分かりやすく */
  box-sizing: border-box; /* borderを付けてるので、border込の大きさにする */
 }

 .main-contents h1{
  margin: 0px auto;
  text-align: center;
  color: white;
  background: hsl(236, 48%, 20%);
  height: 60px;
  line-height: 60px;
 }

.message-area form button{
  height: 100%;
    margin-left: 10px;
  width: 160px;
}

.item{
  display: flex;
    align-items: flex-end;
}

 .right_message {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 15px;
}

.right_message .name{
  font-size: 13px;
  margin-bottom: 0px;
}

 .right_message .textMessage {
  text-align: right;
  flex-direction: row;
  position: relative; 
  background: #30e852;
  font-size: 15px;
}

.right_message .textMessage:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.left_message{
  padding-left: 10px;
  padding-bottom: 15px;
}

.left_message .textMessage{
  text-align: left;
  position: relative; 
  background: #edf1ee;
 }

 .left_message .textMessage:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.item p{
  margin: 5px;
}

.textMessage{
  display: inline-block;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
 }

 .time{
   font-size: 8px;
 }



